body {
	margin:0;
	padding: 0;
	overflow: hidden;
}


.content {
	position: relative;
	max-width:962px;/*755px;*/
	max-height:1302px;/*1334px;*/
	font-family: Gotham, Arial;
	margin: 0 auto;
	overflow: hidden;
	border: 1px solid #cccccc;
}

* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

#menu-container {
	position: absolute;
	top:0;
	z-index: 5;
	width:100%;
	height:7.6%;
	background-color: green;
}

#menu {
    display: table;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#menu li {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    background-color: #262627;
}


.btn-bg {
	width: 16.5%;
	height:100%;
	border-right: 1px solid #fff;
    cursor: pointer;
    position: relative;
}


#btn-winter {
	background: #262627 url(assets/winter-off.png) no-repeat center;
}

#btn-spring {
	background: #262627 url(assets/spring-off.png) no-repeat center;
}

#btn-summer {
	background: #262627 url(assets/summer-off.png) no-repeat center;
}

#btn-fall {
	background: #262627 url(assets/fall-off.png) no-repeat center;
}

#btn-winter.selected {
	background: #262627 url(assets/winter-on.png) no-repeat center;
}

#btn-spring.selected {
	background: #262627 url(assets/spring-on.png) no-repeat center;
}

#btn-summer.selected {
	background: #262627 url(assets/summer-on.png) no-repeat center;
}

#btn-fall.selected {
	background: #262627 url(assets/fall-on.png) no-repeat center;
}

#btn-end {
	width: 31%;
	font-size: 30px;
	color: #484848;
	font-family: Gotham, Arial;
	text-transform: uppercase;
}

#btn-end.enabled {
	color:#fff;
	cursor: pointer;
}

#coloring-content {
	background: #666666 url(assets/bg-default.png) no-repeat center;
}


#coloring-palette {
	position: absolute;
	bottom: 0;
	left:0;
	width:100%;
	height:20%;
}

/* svg styles*/

#cp-swatches .selected {
	stroke-width: 8;
	stroke: #fff;
}

#cp-swatches rect {
	cursor: pointer;
}

#scene-form {
	display: none;
	background: #666666 url(assets/bg-default.png) no-repeat center;
	text-align: center;
	font-size: 30px;
}

input {
	display: block;
	border: none;
	width:100%;
	height: 55px;
	font-size: 30px;
	text-align: center;
	font-weight: bold;
	color:#102C52;
}

#instructions {
	width:100%;
	height:10%;
	background-color: #fff;
	padding: 1.5%; 
	color:#102C52;
	display: table;
}

.valign-middle {
	display: table-cell; vertical-align: middle;
}


#form {
	width:100%;
	height: 70%;
	padding-top: 1.5%;
	text-align: center;	
}

.input-container {
	margin-top: 5%;
	width: 70%;
	margin:0 auto;
}

.input-container label {
	display: block;
	margin-top:30px;
	margin-bottom:10px;
	font-family: arial;
	font-weight: normal;
	font-size: 26px;
	color:#fff;
}

.input-container.rules {
	height: 10%;
	margin-top: 30px;
}

.input-container.rules input {
	width: 60px;
	display: inline-block;
}

.input-container.rules label {
	padding-bottom: 20px;
	text-align: left;
	display: inline;
}

#footer {
	background-color: #fff;
	width:100%;
	height:21%;
	display: table;
}

#submit {
	background-color: #f16723;
	color: #fff;
	font-weight: bold;
	height: 11%;
	width: 50%;
	margin: 2% auto 0 auto;
	text-transform: uppercase;
}

a, a:hover, a:visited {
	color: inherit;
};